@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	padding-top: 9vh;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.menu {
	display: flex;
	justify-content: center;
}

.menu-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 1.5vh 2vh 0;
	background-color: #ffffff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.menu__logo img {
	height: 5vh;
}

.menu__icons button {
	font-size: 1.2em;
}

button {
	background-color: transparent;
	border: none;
}

.stories {
	display: flex;
}

.stories__user {
	display: flex;
	overflow: hidden;	
	width: 80px;
	height: 80px;
	margin-right: 2vh;
	border-radius: 100%;
}

.stories__user:first-child {
	margin: 0 2vh;
}

.stories__user img {
	overflow: hidden;
	border-radius: 100%;
	border: 2px solid white;
}

.storie__user--modifier { 
	padding: 0.2em;
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%)
}

.feed {
	display: flex;
	flex-direction: column;
	padding: 2vh;
}

.post {
	border-radius: 2%;
	margin-bottom: 3vh;
	border: 1px solid rgba(0, 0, 0, .1);
}

.post__header {
	display: flex;
	justify-content: space-between;
	padding: 1vh;
}

.post__user {
	display: flex;
	align-items: center;
}

.post__foto-perfil img { 
	height: 40px;
	width: 40px;
	border-radius: 100%;
}

.post__username {
	color:black;
	font-size: 0.8em;
	margin-left: 1vh;
	font-weight: bold;
	text-decoration: none;
}

.post__figure {
	margin: 0;
}

.post__figure img {
	width: 100%;
}

.post__actions {
	align-items: center;
	display: flex;
	padding: 0.6vh;
}

.post__actions button {
	font-size: 1.5em;
}

.post__actions button:last-child  {
	margin-left: auto;
}

.post__interaction {
	display: flex;
	align-items: center;
	padding: 0.6vh;
	background-color: rgba(0, 0, 0, 0.05);
}

.post__interaction span {
	font-size: 0.8em;
	margin-left: 1vh;
}

.post__interaction a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

@media screen and (min-width: 728px ) {
	.container {
		width: 38vw;
	}
}






